streamlit
PyPDF2
langchain
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
faiss-cpu
chromadb
pandas
spacy
matplotlib
seaborn
# SpaCy English model (needed for nlp = spacy.load("en_core_web_sm"))
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
